@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --background: #121214;
    --strock-color:rgba(255, 255, 255, 0.5);
    --background-links: rgba(0, 0, 0, 0.1);
    --buttonDarkModeBg-url: url(./imgs/stars.svg);
}

.lightColor{
    --text-color:black;
    --background: #E8E0D9;
    --strock-color:rgba(0, 0, 0, 0.5);
    --background-links: rgba(255, 255, 255, 0.1);
    --buttonDarkModeBg-url: url(./imgs/sun.svg);
}

body{
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container{
    width: 360px;
    height: 712px;
    margin: auto;
    padding-top: 56px;
    position: relative;
}

#perfil{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    background: url('imgs/387780663_632501189089528_8891540170547870282_n.jpg') no-repeat center center;
    background-size: cover;
}

#perfil img{
    width: 100%;
    height: 100%;

}

#perfil p{
    margin-top: 8px;
    line-height: 24px;
}

#container ul{
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

/* Button Dark Mode */

#buttonDarkMode{
    cursor: pointer;
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#buttonDarkMode button{
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: white var(--buttonDarkModeBg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: slideBack 0.4s;
}

@media only screen and (min-width: 768px) {
    #buttonDarkMode button:hover {
        outline: 8px solid rgba(255, 255, 255, 0.253);
    }
}


#buttonDarkMode span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--background);
    border: 1px solid var(--strock-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
    transition: 1s;
}

.lightColor #buttonDarkMode button{
    animation: slideButtom 0.5s forwards;
}





/*LINKS BOTOES*/

ul{
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #000000;
}

ul::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000000, transparent);
}


ul li a{
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--background-links);
    border: 1px solid var(--strock-color);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-weight: 500;
    text-align: center;
    transition: all 0.3s;
}

ul li a:hover{
    background:rgba(255, 255, 255, 0.17);
    border: 1.5px solid var(--text-color);
}

.copy{
    padding: 25px 0px;
    display: flex;
    justify-content: center;
}

@keyframes slideButtom{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}

@keyframes slideBack{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}
/*
@media only screen and (min-width: 768px) and (max-width: 2800px) {
    

    #buttonDarkMode{
        display: none;
    }

    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
    }

    #container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 560px;
        height: 812px;
        border: 2px solid white;
        border-radius: 8px;
        padding: 10px;
    }

    #perfil img{
        width: 312px;
        line-height: 24px;
        border: 2.5px solid var(--strock-color);
        border-radius: 50%;
    }
    
}*/